# Android Studio
*.iml
/local.properties
/**/.idea/*
/build
/buildSrc/build
/captures
.externalNativeBuild

# Android Studio ignore exceptions
!/**/.idea/vcs.xml
!/**/.idea/fileTemplates/
!/**/.idea/inspectionProfiles/
!/**/.idea/scopes/
!/**/.idea/codeStyles/
!/**/.idea/copyright/

# Gradle
.gradle

# MacOS
.DS_Store

# Fastlane specific
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/changelog.txt
flank/flank_generated.yml